body {
   font-family: Helvetica, sans-serif;
   background-color: #fffbeb;
}

main {
   padding: 1em 2em;
   max-width: 960px;
   margin: 0 auto;
   background-color: white;
}

h2 {
   font-size: 150%;
   margin-bottom: .5em;
}



/*--------------------------
 HAMBURGER NAVIGATION BAR
----------------------------*/


/* Desktop Full-Size Layout
--------------------------------*/
header {
   background-color: #e8e8e8;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: .75em;
}

/* ↓ Site name link appearance ↓ */
header a.site-name {
   text-decoration: none;
   color: black;
}

header a.site-name:hover {
   text-decoration: underline;
}

header h1 {
   font-size: 200%;
}

/* ↓ Navbar ↓ */
header nav ul.menu {
   list-style-type: none;
   overflow: hidden;
   display: flex;
}

/* ↓ Navbar buttons ↓ */
header nav li a {
   transition: all .75s ease;
   display: block;
   text-decoration: none;
   color: black;
   font-size: 120%;
   padding: .75em 1em;
   border-radius: 2em;
}

header nav li a:hover,
header input.menu-btn:hover {
   background-color: #f8f8f8;
}

header input.menu-btn,
header label.menu-icon {
   display: none; /* ← hides hamburger icon */
}





/* Phone/Tablet Hamburger Layout
-------------------------------------*/

@media only screen and (max-width: 768px) {

   header {
       flex-direction: column;
       position: relative;
   }
   
   /* ↓ Navbar ↓ */
   header nav ul.menu {
       max-height: 0; /* ← hides menu until opened */
       transition: max-height .5s ease-out; /* ← open speed */
       text-align: center;
       flex-direction: column;
   }

   header nav ul.menu li {
       display: flex;
       flex-direction: column;
   }
   
   /* ↓ Navbar buttons ↓ */
   header nav ul.menu li a {
       
   }


   
/* Hamburger Icon 
-------------------------------------*/
   header label.menu-icon {
       display: inline-block;
       padding: 20px 20px;
       position: absolute;
       right: 0; /* ← horizontal position */
       top: 3px; /* ← vertical position */
   }

   /* ↓ center hamburger line ↓ */
   header label.menu-icon span.navicon {
       display: block;
       position: relative;
       transition: background .2s ease-out;
       height: 5px; /* ← thickness of lines */
       width: 25px; /* ← width of lines */
       background: black; /* ← icon color */
   }

   /* ↓ top & bottom hamburger line ↓ */
   header label.menu-icon .navicon:before,
   header label.menu-icon .navicon:after {
       content: '';
       display: block;
       height: 100%;
       width: 100%;
       position: absolute;
       transition: all .2s ease-out;
       background: black; /* ← icon color */
   }

   header label.menu-icon .navicon:before {
       top: 9px; /* ← space below top line */
   }

   header label.menu-icon .navicon:after {
       top: -9px; /* ← space above bottom line */
   }


/* Icon Animation
-------------------------------------*/
   header input.menu-btn:checked ~ ul.menu {
       max-height: 300px; 
       /* ↑ maximum height of the menu bar ↑
            increase this if some of your
            menu links are getting cut off */
   }

   /* ↓ hides center line for the X ↓ */
   header input.menu-btn:checked ~ label.menu-icon span.navicon {
       background: transparent;
   }

   header input.menu-btn:checked ~ label.menu-icon span.navicon:before {
       transform: rotate(-45deg);
   }

   header input.menu-btn:checked ~ label.menu-icon span.navicon:after {
       transform: rotate(45deg);
   }

   header input.menu-btn:checked ~ label.menu-icon:not(.steps) .navicon:before,
   header input.menu-btn:checked ~ label.menu-icon:not(.steps) .navicon:after {
       top: 0;
   }


}